- var id = video.id["$t"].split(":").pop();
- var img = video["media$group"]["media$thumbnail"][2].url

li
	article.video
		figure
			a(href="http://www.youtube.com/embed/#{id}?html5=1&autoplay=1", target="_blank")
				img(width="100%", src="#{img}")
		header
			h2.title #{video.title["$t"]}
		footer.details
			p.author
				strong #{video.author[0].name["$t"]}
				| uploaded
			a(href="http://pinterest.com/pin/create/bookmarklet/?media=http%3A%2F%2Fimg.youtube.com%2Fvi%2F#{id}%2F0.jpg&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%2F%3Fv%3D#{id}&title=Pintubest&is_video=true&description=#{video.title["$t"]} | http://pintubest.com", class="ch-btn-skin ch-btn-tiny ch-icon-pushpin repin", count-layout="none") Pin it